# 실습 - Non-Personalized Recommendation - Best Seller 추천

In [7]:
import pandas as pd
import numpy as np
from sklearn.metrics import root_mean_squared_error

## 영화 데이터(movies.csv) 파일을 DataFrame으로 읽기

In [9]:
# movies.csv 파일 읽기
movies = pd.read_csv('data/ml-latest-small/movies.csv', index_col=0)
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

## 사용자 평점 (ratings.csv) 파일을 DataFrame으로 읽기

In [10]:
# ratings.csv 파일 읽기
ratings = pd.read_csv('data/ml-latest-small/ratings.csv', index_col=0)
ratings.head()

        movieId  rating  timestamp
userId
1             1     4.0  964982703
1             3     4.0  964981247
1             6     4.0  964982224
1            47     5.0  964983815
1            50     5.0  964982931

# 베스트셀러 추천 방식

- 이 방식은 모든 사용자에게 가장 인기 있동일한 는 상품게 추천합니다.
- 상품에 대한 모든 평가의 평균을 계산하고, 이 평균 점수가 높은 순서대로 상품을 추천합니다.

In [23]:
# 각 영화별 평균 평점 계산

# -- Code Here ---

In [24]:
# 평균 평점이 가장 높은 상위 5개 영화 찾기
# -- Code Here ---

In [25]:
# 상위 5개 영화의 제목 찾기
# -- Code Here ---

## 추천 시스템의 정확도 측정

In [26]:
# -- Code Here ---